:root {
    /* MAIN COLORS */
    --selected-text: #ffdadb;
    --text: #ffffff;
    --background: #281414;
    --deep-background: #170e0e;
    --border-color: #441818;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
  background: black;
  color: var(--text);
}

/* APP STYLE */
.app {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  background: var(--deep-background);
  z-index: 0;
}

.app-top-panel {
  height: 32px;
  flex-shrink: 0;
  border-bottom: var(--border-color) solid 1px;

  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0px;
}

.logo-container {
  padding: 0 12px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px var(--border-color) solid;    
}

.app-main {
  flex: 1;         
}

.app-bottom-panel {
  height: 28px;
  flex-shrink: 0;

  border-top: var(--border-color) solid 1px;
}

/* LOADING STYLE */
.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000;
}


/* TYPOGRAPHY */
/* Fonts */
.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-bold {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Fonts size */
.text-tiny {
    font-size: 12px;
}

.text-small {
    font-size: 14px;
}

.text-normal {
    font-size: 18px;
}

.text-large {
    font-size: 20px;
}

.text-giant {
    font-size: 24px;
}