:root {
    --selected-text: #ffdadb;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
  background: black;
}

#app {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100vw;    
  height: 100vh;    
  background: #121212;
  z-index: 0;
}