:root {
    /* MAIN COLORS */
    --selected-text: #ffdadb;
    --text: #ffffff;
    --deep-background: #140606;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
  background: black;
  color: var(--text);
}

/* APP STYLE */
#app {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100vw;    
  height: 100vh;    
  background: var(--deep-background);
  z-index: 0;
}

/* LOADING STYLE */
#overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


/* TYPOGRAPHY */
/* Fonts */
.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-bold {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
}

/* Fonts size */
.text-tiny {
    font-size: 12px;
}

.text-small {
    font-size: 14px;
}

.text-normal {
    font-size: 18px;
}

.text-large {
    font-size: 20px;
}

.text-giant {
    font-size: 24px;
}